@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.bg-gradient-top {
    background-image: linear-gradient(to top right, #23383D, #080808);
}
.bg-gradient-bottom {
    background-image: linear-gradient(to right, #C1CACE, #99A0A6);
}